experiment:
  name: "n10_gohrnet_16x8"
  output_dir: "output/hight"
  # seed: 42

data:
  path: "data/hight_n10"

processor:
  swap_pairs: false
  xor_channel: false
  reshape: [16, 8]
  normalize: true

model:
  type: "GohrNet"
  params:
    length: 8
    in_channels: 16
    n_filters: 32
    n_blocks: 10
    d1: 64
    d2: 64

training:
  epochs: 20
  batch_size: 5000
  num_workers: 24
  eval_interval: 5
  checkpoint_interval: 10
  device: "cuda:1"
  use_amp: true

  loss:
    type: "BCEWithLogitsLoss"
    params: {}
  
  optimizer:
    type: "AdamW"
    params:
      lr: 2e-3
      betas: [0.9, 0.999]
      weight_decay: 1e-5
  
  scheduler:
    type: "CosineAnnealingWarmRestarts"
    params:
      T_0: 18000
      T_mult: 1
      eta_min: 1e-4