experiment:
  name: "n5_gohrnet"
  output_dir: "output/speck_32_64"
  seed: 42

data:
  path: "data/speck_32_64_n5"

processor:
  reshape: [1, 64]
  normalize: true

model:
  type: "GohrNet"
  params:
    input_dim: 64
    num_blocks: 10
    channels: 32
    word_size: 16
    d1: 64
    d2: 64
    bit_slicing: false

training:
  epochs: 100
  batch_size: 5000
  eval_interval: 5
  checkpoint_interval: 20
  device: "cuda:0"

  loss:
    type: "BCEWithLogitsLoss"
    params: {}
  
  optimizer:
    type: "AdamW"
    params:
      lr: 2e-3
      betas: [0.9, 0.999]
      weight_decay: 1e-5
  
  scheduler:
    type: "CosineAnnealingWarmRestarts"
    params:
      T_0: 10000
      T_mult: 1
      eta_min: 1e-4

# evaluation:
#   metrics: "ConfusionMatrix" 