<div class="full-bleed overflow-auto px-6">
  <table class="mx-auto w-auto">
    <thead>
      <tr>
        <th class="l">Cipher</th>
        <th class="l">Input Difference</th>
      </tr>
    </thead>
    <tbody>
      <tr><td class="l">SIMON32/64</td><td class="l"><span class="latex-tt">0x400</span></td></tr>
      <tr><td class="l">SIMON64/128</td><td class="l"><span class="latex-tt">0x400</span></td></tr>
      <tr><td class="l">SIMON128/256</td><td class="l"><span class="latex-tt">0x400</span></td></tr>
      <tr><td class="l">SPECK32/64</td><td class="l"><span class="latex-tt">0x400000</span></td></tr>
      <tr><td class="l">SPECK64/128</td><td class="l"><span class="latex-tt">0x8080000000</span></td></tr>
      <tr><td class="l">SPECK128/256</td><td class="l"><span class="latex-tt">0x808000000000000000</span></td></tr>
      <tr><td class="l">LEA-128</td><td class="l"><span class="latex-tt">0x80000000800000008004000080</span></td></tr>
      <tr><td class="l">HIGHT</td><td class="l"><span class="latex-tt">0x800000000000</span></td></tr>
      <tr><td class="l">XTEA</td><td class="l"><span class="latex-tt">0x4000000000000000</span></td></tr>
      <tr><td class="l">TEA</td><td class="l"><span class="latex-tt">0x4000000000000000</span></td></tr>
      <tr><td class="l">PRESENT-80</td><td class="l"><span class="latex-tt">0xd000000</span></td></tr>
      <tr><td class="l">AES-128</td><td class="l"><span class="latex-tt">0x1000000000000000000000000000000</span></td></tr>
      <tr><td class="l">KATAN32</td><td class="l"><span class="latex-tt">0x400000</span></td></tr>
      <tr><td class="l">CHACHA20</td><td class="l"><span class="latex-tt">0x8000</span></td></tr>
    </tbody>
  </table>
</div>
