<div class="full-bleed overflow-auto px-6">
  <table class="mx-auto w-auto">
    <thead>
      <tr>
        <th class="l">Cipher</th>
        <th class="r">Full Rounds</th>
        <th class="r">Rounds</th>
        <th class="c">Acc.</th>
        <th class="c">CPA SR.</th>
      </tr>
    </thead>
    <tbody>
      <!-- SIMON32/64 -->
      <tr>
        <td class="l" rowspan="3">SIMON32/64</td>
        <td class="r" rowspan="3">32</td>
        <td class="r">9</td>
        <td class="c">0.792</td>
        <td class="c">0.884</td>
      </tr>
      <tr>
        <td class="r">*10</td>
        <td class="c">0.570</td>
        <td class="c">0.598</td>
      </tr>
      <tr>
        <td class="r">*11</td>
        <td class="c">0.522</td>
        <td class="c">0.531</td>
      </tr>

      <!-- SIMON64/128 -->
      <tr>
        <td class="l" rowspan="3">SIMON64/128</td>
        <td class="r" rowspan="3">44</td>
        <td class="r">11</td>
        <td class="c">0.640</td>
        <td class="c">0.693</td>
      </tr>
      <tr>
        <td class="r">12</td>
        <td class="c">0.537</td>
        <td class="c">0.552</td>
      </tr>
      <tr>
        <td class="r">*13</td>
        <td class="c">0.509</td>
        <td class="c">0.514</td>
      </tr>

      <!-- SIMON128/256 -->
      <tr>
        <td class="l" rowspan="3">SIMON128/256</td>
        <td class="r" rowspan="3">68</td>
        <td class="r">17</td>
        <td class="c">0.603</td>
        <td class="c">0.640</td>
      </tr>
      <tr>
        <td class="r">18</td>
        <td class="c">0.538</td>
        <td class="c">0.552</td>
      </tr>
      <tr>
        <td class="r">*19</td>
        <td class="c">0.510</td>
        <td class="c">0.514</td>
      </tr>

      <!-- SPECK32/64 -->
      <tr>
        <td class="l" rowspan="3">SPECK32/64</td>
        <td class="r" rowspan="3">22</td>
        <td class="r">6</td>
        <td class="c">0.895</td>
        <td class="c">0.954</td>
      </tr>
      <tr>
        <td class="r">7</td>
        <td class="c">0.677</td>
        <td class="c">0.733</td>
      </tr>
      <tr>
        <td class="r">*8</td>
        <td class="c">0.527</td>
        <td class="c">0.530</td>
      </tr>

      <!-- SPECK64/128 -->
      <tr>
        <td class="l" rowspan="2">SPECK64/128</td>
        <td class="r" rowspan="2">27</td>
        <td class="r">7</td>
        <td class="c">0.821</td>
        <td class="c">0.901</td>
      </tr>
      <tr>
        <td class="r">*8</td>
        <td class="c">0.586</td>
        <td class="c">0.610</td>
      </tr>

      <!-- SPECK128/256 -->
      <tr>
        <td class="l" rowspan="2">SPECK128/256</td>
        <td class="r" rowspan="2">34</td>
        <td class="r">9</td>
        <td class="c">0.943</td>
        <td class="c">0.981</td>
      </tr>
      <tr>
        <td class="r">*10</td>
        <td class="c">0.678</td>
        <td class="c">0.725</td>
      </tr>

      <!-- LEA-128 -->
      <tr>
        <td class="l" rowspan="2">LEA-128</td>
        <td class="r" rowspan="2">24</td>
        <td class="r">10</td>
        <td class="c">0.656</td>
        <td class="c">0.694</td>
      </tr>
      <tr>
        <td class="r">11</td>
        <td class="c">0.524</td>
        <td class="c">0.534</td>
      </tr>

      <!-- HIGHT -->
      <tr>
        <td class="l">HIGHT</td>
        <td class="r">32</td>
        <td class="r">10</td>
        <td class="c">0.751</td>
        <td class="c">0.764</td>
      </tr>

      <!-- XTEA -->
      <tr>
        <td class="l" rowspan="2">XTEA</td>
        <td class="r" rowspan="2">64</td>
        <td class="r">4</td>
        <td class="c">0.992</td>
        <td class="c">0.993</td>
      </tr>
      <tr>
        <td class="r">*5</td>
        <td class="c">0.575</td>
        <td class="c">0.606</td>
      </tr>

      <!-- TEA -->
      <tr>
        <td class="l" rowspan="2">TEA</td>
        <td class="r" rowspan="2">64</td>
        <td class="r">4</td>
        <td class="c">0.987</td>
        <td class="c">0.991</td>
      </tr>
      <tr>
        <td class="r">*5</td>
        <td class="c">0.602</td>
        <td class="c">0.641</td>
      </tr>

      <!-- PRESENT-80 -->
      <tr>
        <td class="l" rowspan="3">PRESENT-80</td>
        <td class="r" rowspan="3">31</td>
        <td class="r">7</td>
        <td class="c">0.819</td>
        <td class="c">0.891</td>
      </tr>
      <tr>
        <td class="r">8</td>
        <td class="c">0.609</td>
        <td class="c">0.687</td>
      </tr>
      <tr>
        <td class="r">*9</td>
        <td class="c">0.506</td>
        <td class="c">0.510</td>
      </tr>

      <!-- AES-128 -->
      <tr>
        <td class="l" rowspan="2">AES-128</td>
        <td class="r" rowspan="2">10</td>
        <td class="r">2</td>
        <td class="c">1.000</td>
        <td class="c">1.000</td>
      </tr>
      <tr>
        <td class="r">3</td>
        <td class="c">0.518</td>
        <td class="c">0.524</td>
      </tr>

      <!-- KATAN32 -->
      <tr>
        <td class="l" rowspan="3">KATAN32</td>
        <td class="r" rowspan="3">254</td>
        <td class="r">*55</td>
        <td class="c">0.648</td>
        <td class="c">0.705</td>
      </tr>
      <tr>
        <td class="r">*60</td>
        <td class="c">0.558</td>
        <td class="c">0.579</td>
      </tr>
      <tr>
        <td class="r">*65</td>
        <td class="c">0.506</td>
        <td class="c">0.511</td>
      </tr>

      <!-- CHACHA20 -->
      <tr>
        <td class="l">CHACHA20</td>
        <td class="r">20</td>
        <td class="r">3</td>
        <td class="c">0.640</td>
        <td class="c">0.693</td>
      </tr>
    </tbody>
  </table>
</div>
